
  <form action="/MM" method="post" class="row g-3 my-4">

    <div class="col-12">
      <input name="url" type="text" class="form-control" id="inputAddress" placeholder="rasmning url ">
    </div>
    <div class="col-12">
      <input name="name" type="text" class="form-control" id="inputAddress2" placeholder="tel nomi">
    </div>

    <div class="col-md-6">
      <input name="narx" type="text" class="form-control" id="inputEmail4" placeholder="Narxi">
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
    
  </form>
</div>

