<div class="d-flex gap-3">
  {{#each newTelefon}}
  <div class="card" style="width: 18rem;">
    <img style="height: 60%; object-fit: cover;" src="{{url}}"; class="card-img-top" alt="rasm,mmmmmmm">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">Narxi: {{narx}}$</p>
      <a href="#" class="btn btn-primary">Sotib olish</a>
    </div>
  </div>
  {{/each}}
</div>

